*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --fs: 1.5rem;
    --fs-xl: min(2.25rem,3vh);
    --bgcolor: gray;
    --darkcolor: black;
    --lightcolor: whitesmoke;
    --radialcolor: radial-gradient(var(--lightcolor),var(--bgcolor));
    --squaresize: max(150px,20vw);
    --squarebgcolor: papayawhip;
    --padding: 0.5rem;
    --shadows: 0 6px 5px -5px var(--darkcolor);
    --border: 2px solid var(var(--darkcolor))
}
    
@media (prefers-color-scheme: dark){
    :root{
        --bgcolor:#000;
        --lightcolor: rgb(98, 97, 97);
        --squarebgcolor: rgb(252, 177, 252);
        --radialcolor: radial-gradient(var(--lightcolor),var(--bgcolor));
    }
    html{
        color: rgb(255, 255, 255);
        scroll-behavior: smooth;
    }
}
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
header,footer{
    background-color: rgb(115, 115, 115);
    text-align: center;
    position: sticky;
}
header,footer,nav{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}
header{
    top:0;
}
footer{
    bottom: 0;
}
nav{
    background-color: aliceblue;
    color: var(--darkcolor);
    border-bottom: var(--border);
    box-shadow: var(--shadows);
    text-align: center;
}
main{
    flex-grow: 1;
    background-image: var(--radialcolor);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; 
    padding: var(--padding);

    gap: min(4vw,15px);
}
main h1{
    font-size: 3rem;
}
.content,section a{
    font-size: var(--fs-xl);
}