*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --fs: 1.5rem;
    --fs-xl: 3rem;
    --bgcolor: gray;
    --darkcolor: black;
    --lightcolor: whitesmoke;
    --radialcolor: radial-gradient(var(--lightcolor),var(--bgcolor));
    --squaresize: max(150px,20vw);
    --squarebgcolor: papayawhip;
    --padding: 0.5rem;
    --shadows: 0 6px 5px -5px var(--darkcolor);
    --border: 2px solid var(var(--darkcolor))
}
@media (prefers-color-scheme: dark){
    :root{
        --bgcolor:#000;
        --lightcolor: rgb(98, 97, 97);
        --squarebgcolor: rgb(252, 177, 252);
        --radialcolor: radial-gradient(var(--lightcolor),var(--bgcolor));
    }
}
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
header,footer{
    background-color: rgb(115, 115, 115);
    text-align: center;
    position: sticky;
}
header,footer,nav{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}
header{
    top:0;
}
footer{
    bottom: 0;
}
nav{
    background-color: aliceblue;
    text-align: center;
}
main{
    flex-grow: 1;
    background-image: var(--radialcolor);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    padding: var(--padding);
    grid-template-columns: repeat(4,minmax(100px,500px));
    gap: max(4vw,30px);
}

.square{
    background-color: var(--squarebgcolor);
    /* width: var(--squaresize);
    height: var(--squaresize); */
    border: var(--border);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--fs-xl);
    box-shadow: var(--shadows);
}
.square-high{
    background-color: blue;
}

